
{% extends "base.html" %}

{% load static %}


{% block content %}

<div class="header">
    <div class="header-body">

      <h1 class="header-title" style="text-align:center;">
        Edit Profile
      </h1>
  
    </div>
  </div>

<div class="card">
    <div class="card-body">

      <!-- Form -->
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
          <div class="col-12 col-md-6 mb-3">
            <label for="validationServer01">First name</label>
            <input type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required="">
            <div class="valid-feedback">
            </div>
          </div>
          <div class="col-12 col-md-6 mb-3">
            <label for="validationServer02">Last name</label>
            <input type="text" class="form-control is-valid" id="validationServer02" placeholder="Last name" required="">
            <div class="valid-feedback">
            </div>
            <input name="first_name" type="text" class="form-control is-valid" id="validationServer01" placeholder="First name" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-12 col-md-6 mb-3">
            <button class="btn btn-primary" type="submit">Change Password</button>
            </div>
          </div>
          <div class="col12 col-md-6 mb-3">
            <label for="validationServer04">Change Photo</label>
            <input type="file" name="image">
          </div>
        </div>

        <!-- Button -->
        <button class="btn btn-primary" name="editProfile" type="submit">Submit form</button>
      </form>

    </div>
  </div>





{% endblock content %}

{% block javascript %}

{% endblock javascript %}