{% extends "base.html" %}

{% load static %}


{% block content %}
<div class="main-content">



      <!-- HEADER -->
      <div class="header">
        <h1 class="header-title">
            Private Networks
          </h1>
      </div> <!-- / .header -->

    <!-- CONTENT -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-xl-8">

                <!-- Card -->
                {% for network in networks %}
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-auto">

                                <!-- Avatar -->
                                <a href="{% url 'private_network' network.referral_code %}" class="avatar avatar-lg">
                                    {{network.title}}
                                </a>

                            </div>

                        </div> <!-- / .row -->
                    </div> <!-- / .card-body -->
                {% endfor %}

            </div>
        </div> <!-- / .row -->
    </div>

</div>


{% endblock content %}

{% block javascript %}

{% endblock javascript %}